@import "tailwindcss";

:root {
    --primary: #000000;
    --secondary: #ffffff10;
    --foreground: #ffffff;
    --danger: #ba0000;
    --subtitle: #237bff;
    --outline: 2px;
}


.scrollbar-hide::-webkit-scrollbar {
    display: none;
}